@charset "utf-8";

li {
  display: inline;
  width: 30px;
}

.basic_info {
  background-color: rgb(220, 224, 207);
  width: 500px;
  height: 300px;
  float: left;
  margin-top: 100px;
}

.cover_wrapper {
  background-color: rgb(218, 229, 183);
  width: 400px;
  height: 400px;
  float: right;
  margin-top: 100px;
}

