@charset "utf-8";

body {
  font-family: Microsoft Yahei;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.ui-dialog-body {
  padding: 8px;
}

.header_wrapper {
  position: fixed;
  background-color: #CCCCCC;
  width: 100%;
  height: 40px;
}

.header {
  width : 1280px;
  height: 40px;
  line-height: 40px;
  margin-left: auto;
  margin-right: auto; 
}

.header_logo font {
  margin-left: 35px;
}

.login_link {
  float: right;
  margin-right: 40px;
}

.Header_right {
  display: inline-block;
  float: right;
  height: 40px;
  line-height: 40px;
}

.Header_right img {
  height: 32px;
  width: 32px;
  display: inline-block;
}

.avatar {
  position: relative;
  top: 4px;
  right: 30px;
}

.username_link {
  position: relative;
  top: -5px;
  right: 30px;
}

.message_span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: 5px;
  right: 20px;
}

.message_span font {
  display: inline-block;
  position: relative;
  top: -11px;
}

.operation_menu {
  position: relative;
  top: 3px;
  right: 10px;
  cursor: pointer;
}

.logout {
  position: relative;
  top: -5px;
}

.user_operation_detail {
  background-color: #666666;
  position: absolute;
  top: 40px;
  right: 54px;
  width: 100px;
  height: 160px;
  color: #FFF;
  text-align: center;
}

.user_operation_detail div {
  cursor: pointer;
}

.user_operation_detail div:HOVER {
  background-color: #E5DFDF;
  color: #000;
}

.content_wrapper {
  overflow: hidden;
  width: 1280px;
  top:40px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}

.header_logo {
  font-size: 24px;
  color: rgb(49, 66, 102);
  cursor: pointer;
  background: url(../images/logo.png) no-repeat;
}

.current_location {
  margin-left: 30px;
  color: rgb(124, 54, 54);
}

.top_bar input {
  width: 370px;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  border: 1px solid #D8D8D8;
  text-indent: 10px;
}

.top_bar {
  margin-top: 20px;
  width: 502px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
}

.top_bar select {
  height: 35px;
  border: 1px solid #D8D8D8;
  color: rgb(129, 129, 14);
  margin-right: 5px;
}

.top_bar img {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 442px;
  top: 65px;
  cursor: pointer;
}

.Header_right .back {
  position: relative;
  right: 60px;
  top: 4px;
  cursor: pointer;
}