<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tyut.book.model.Book">

  <resultMap type="Book" id="bookMap">
    <result column="id" property="id"/>
    <result column="name" property="name"/>
    <result column="category_id" property="categoryId"/>
    <result column="category_name" property="categoryName"/>
    <result column="owner_id" property="ownerId"/>
    <result column="owner_name" property="ownerName"/>
    <result column="current_owner_id" property="currentOwnerId"/>
    <result column="current_owner_name" property="currentOwnerName"/>
    <result column="deposit" property="deposit"/>
    <result column="author" property="author"/>
    <result column="cover" property="cover"/>
    <result column="description" property="description"/>
    <result column="loan_status" property="loanStatus"/>
    <result column="created_time" property="createdTime"/>
    <result column="updated_time" property="updatedTime"/>
    <result column="is_deleted" property="isDeleted"/>
  </resultMap>

  <resultMap type="Category" id="categoryMap">
    <result column="id" property="id"/>
    <result column="name" property="name"/>
  </resultMap>

  <insert id="create" parameterType="Book" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
      INSERT INTO `book_system`.`book` (`name`, `category_id`, `owner_id`, `current_owner_id`, `deposit`, `author`, `cover`, `description`) 
        VALUES (#{name}, #{categoryId}, #{ownerId}, #{currentOwnerId}, #{deposit}, #{author}, #{cover}, #{description});
    ]]>
  </insert>

  <select id="findAllCategory" resultMap="categoryMap">
    <![CDATA[
      SELECT * FROM `book_system`.`category`
    ]]>
  </select>

  <select id="getCategoryIdByName" parameterType="String" resultType="int">
    <![CDATA[
      SELECT id FROM `book_system`.`category`
      WHERE name = #{categoryName}
    ]]>
  </select>

  <select id="getMybookCount" parameterType="Map" resultType="int">
    SELECT count(*) 
    FROM `book_system`.`book`
    WHERE `name` LIKE #{keyWord}
    <if test="userId != 0">
        AND `owner_id` = #{userId}
    </if>
    <if test="categoryId != 0">
        AND `category_id` = #{categoryId}
    </if>
    <if test="loanStatus != 'all'">
        AND `loan_status` = #{loanStatus}
    </if>
  </select>

  <select id="findMyBook" parameterType="Map" resultMap="bookMap">
    SELECT b.id, b.name, b.category_id, c.name AS category_name, 
        b.owner_id, u1.username AS owner_name,
        b.current_owner_id, u2.username AS current_owner_name,
        b.deposit, b.author, b.cover, b.description, b.loan_status,
        b.created_time, b.updated_time, b.is_deleted
    FROM book b
        JOIN user u1
            ON b.owner_id = u1.id
        JOIN user u2
            ON b.current_owner_id = u2.id
        JOIN category c
            ON b.category_id = c.id
    WHERE b.name Like #{keyWord}
    <if test="userId != 0">
        AND b.owner_id = #{userId}
    </if>
    <if test="categoryId != 0">
        AND b.category_id = #{categoryId}
    </if>
    <if test="loanStatus != 'all'">
        AND b.loan_status = #{loanStatus}
    </if>
    LIMIT #{offSet}, #{pageSize}
  </select>

  <select id="getAvailableBookCount" parameterType="Map" resultType="int">
    SELECT count(*) 
    FROM `book_system`.`book`
    WHERE  `name` LIKE #{keyWord}
    <if test="userId != 0">
        AND `owner_id` != #{userId}
    </if>
    <if test="categoryId != 0">
        AND `category_id` = #{categoryId}
    </if>
  </select>

  <select id="findAvailableBook" parameterType="Map" resultMap="bookMap">
    SELECT b.id, b.name, b.category_id, c.name AS category_name, 
        b.owner_id, u1.username AS owner_name,
        b.current_owner_id, u2.username AS current_owner_name,
        b.deposit, b.author, b.cover, b.description, b.loan_status,
        b.created_time, b.updated_time, b.is_deleted
    FROM book b
        JOIN user u1
            ON b.owner_id = u1.id
        JOIN user u2
            ON b.current_owner_id = u2.id
        JOIN category c
            ON b.category_id = c.id
    WHERE b.name Like #{keyWord}
    <if test="userId != 0">
        AND b.owner_id != #{userId}
    </if>
    <if test="categoryId != 0">
        AND b.category_id = #{categoryId}
    </if>
    LIMIT #{offSet}, #{pageSize}
  </select>

  <select id="getById" parameterType="int" resultMap="bookMap">
    SELECT b.id, b.name, b.category_id, c.name AS category_name, 
        b.owner_id, u1.username AS owner_name,
        b.current_owner_id, u2.username AS current_owner_name,
        b.deposit, b.author, b.cover, b.description, b.loan_status,
        b.created_time, b.updated_time, b.is_deleted
    FROM book b
        JOIN user u1
            ON b.owner_id = u1.id
        JOIN user u2
            ON b.current_owner_id = u2.id
        JOIN category c
            ON b.category_id = c.id
    WHERE b.id = #{id}
  </select>

  <update id="updateStatus" parameterType="Map">
    UPDATE book SET loan_status = #{status}
    WHERE id = #{bookId}
  </update>

  <update id="updateCurrentOwner" parameterType="Map">
    UPDATE book SET current_owner_id = #{userId}
    WHERE id = #{bookId}
  </update>

</mapper>
