<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tyut.book.model.User">

  <resultMap type="User" id="userMap">
    <result column="id" property="id"/>
    <result column="username" property="username"/>
    <result column="password" property="password"/>
    <result column="nickname" property="nickname"/>
    <result column="role" property="role"/>
    <result column="phomeNum" property="phomeNum"/>
    <result column="email" property="email"/>
    <result column="balance" property="balance"/>
    <result column="gender" property="gender"/>
    <result column="avatar" property="avatar"/>
    <result column="is_forbidden" property="isForbidden"/>
    <result column="created_time" property="createdTime"/>
    <result column="update_time" property="updateTime"/>
    <result column="is_deleted" property="isDeleted"/>
  </resultMap>

  <select id="findByName" parameterType="String" resultMap="userMap">
    <![CDATA[
      SELECT * FROM `book_system`.`user`
      WHERE `username` = #{username} 
    ]]>
  </select>

  <insert id="collectBook" parameterType="Map" >
    INSERT INTO `book_system`.`book_collection` (`user_id`, `book_id`) 
        VALUES (#{userId}, #{bookId})
  </insert>

  <select id="getBookCollection" parameterType="Map" resultType="com.tyut.book.model.BookCollection">
    SELECT user_id AS 'userId', book_id AS 'bookId', created_time  
    FROM book_system.book_collection
    WHERE user_id = #{userId}
        AND book_id = #{bookId}
  </select>

  <insert id="createBorrowHistory" parameterType="Map">
    INSERT INTO `book_system`.`borrow_history`(`borrower_id`, `book_id`)
        VALUES (#{userId}, #{bookId})
  </insert>

  <select id="getHistoryId" resultType="int" parameterType="Map">
    SELECT MAX(id) FROM borrow_history WHERE borrower_id = #{userId} AND book_id = #{bookId}
  </select>

  <update id="updateHistoryStatus" parameterType="Map">
  <![CDATA[
    UPDATE borrow_history set status = #{status}
    WHERE id = #{historyId}
  ]]>
  </update>

</mapper>
